.theme-container.custom-page-class {
	.theme-default-content:not(.custom) {
		max-width: 1280px;
	}
}

.theme-container.custom-page-mid-class {
	.theme-default-content:not(.custom) {
		max-width: 1080px;
	}
}

.theme-container.custom-page-min-class {
	.theme-default-content:not(.custom) {
		max-width: 960px;
	}
}